/* This is a CSS file */

*{
	font-family: Georgia, serif}

figcaption {
	color: gray;}

h1{
	text-transform: uppercase;}

figure{
	max-width: 600px;}

img{
	max-width:100%;}


.blue-text{
		color:blue;}

.red-text{
		color:red;}


h6 {
	color: gray;}


